extends layout.pug

block head
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css")
  style.
    table {
      background: white;
      font-family: verdana;
      border-collapse: collapse;
      width: 100%;
      border-radius: 8px;
    }
    td {
      border: 1px solid purple;
      text-align: left;
      padding: 8px;
      font-weight: bold;
      color: black;
    }
    th{
      border: 1px solid red;
      text-align: left;
      padding: 8px;
      color: green;
    }
    tr:nth-child(6) {
      background-color: yellow;
      color: white;
    }
    h4{
      text-align: center;
      color: red;
      font-family: arial;
      margin-top: 25px;
      margin-bottom: 25px;
    }

block content
  h4 👨‍🌾Young For Chicks-Registered Farmers July-October
  table
    thead
      tr
        th Full Name
        th Email
        th Contact
        th NIN Number
        th Category
        th Recommender Name
        th Recommender NIN
        th Delete
        th Update
    tbody
      if users.length
        each user in users
          if user.role==="farmer"
            tr
              td #{user.name}
              td #{user.email}
              td #{user.phone}
              td #{user.nin}
              th #{user.role}
              th #{user.recommenderName}
              th #{user.recommenderNIN}
              td
                a.btn.btn-primary.btn-block(href="/updateuser/"+user._id) Update
              td
                form(method="POST" action="/deleteuser")
                  input(type="hidden" name="id" value=user._id)
                  button.btn.btn-secondary.btn-block(type="submit") Delete